@page
@model TweetCool.MessageBoardModel
@{
    ViewData["Title"] = "MessageBoard";
}

    <html>
        <head>
            <title>All messages></title>
            <link rel="stylesheet" href="~/css/Index.css"/>
        </head>

        <body>
            <h1>This is the Message board</h1>
            <h3>You can see all TweetCool messages!</h3>
            <button onclick="window.location.href ='/Index';">Back</button>


            <div style="background-color: darkcyan">
                @foreach (Tweet tweet in MessageBoardModel.Tweets)
                {
                    <ul class="nav-tabs">
                        <a class="name" id="username">@tweet.UserName:</a>
                        <br>
                        <a class="date" id="date">(@tweet.Date)</a>
                        <br>
                        <p class="tweet" id="tweet">@tweet.Message</p>
                    </ul>
                 }
             </div>

        </body>
    </html>

